# this is a template for nginx.conf, meant to be
# rendered with Go's tmpl tool

user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status - $upstream_cache_status - $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for" '
                      'upstream_connect_time=$upstream_connect_time '
                      'upstream_header_time=$upstream_header_time '
                      'upstream_response_time=$upstream_response_time '
                      ;

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    keepalive_timeout  65;

    proxy_cache_path
        /tmp/nginx/cache
        levels=1:2
        keys_zone=nginx_cache:20m
        inactive={{.inactive}}
        max_size={{.max_size}};

    server {
        server_name _;
        listen *:80 default_server;

        location / {
            resolver 127.0.0.1 valid=30s;
            resolver_timeout 15s;
            set $backend "{{.backend}}";
            proxy_pass $backend;

            proxy_cache nginx_cache;
            proxy_cache_key $scheme$proxy_host$uri$is_args$args$http_authorization;
            proxy_cache_revalidate on;
            proxy_cache_use_stale error timeout updating http_500 http_502 http_503 http_504;
            proxy_cache_background_update on;
            proxy_cache_lock on;

            add_header X-Cache-Status $upstream_cache_status;
        }
        
        location = /stub_status {
            stub_status;
        }
    }

}
